@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather";
  font-weight: 300;
}

@media (min-width: 1600px) {
  .container {
    width: 1140px;
    margin: 0 auto;
  }
}

.b-header {
  background-color: #660000;
  width: 100%;
}

.b-header--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 45px 55px;
}

@media (max-width: 768px) {
  .b-header--flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.b-header--logo {
  margin-bottom: 5px;
}

.b-header--logo a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .b-header--logo {
    margin-bottom: 0;
  }
}

.b-header--logoStyle {
  font-size: 36px;
  line-height: 45px;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .b-header--logoStyle {
    text-align: center;
  }
}

.b-header--logoStyle span {
  font-size: 30px;
}

.b-header--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .b-header--btn {
    margin-top: 15px;
  }
}

.b-header--btnStyle {
  background: #FFFBFB;
  border: 1px solid #FFFDFD;
  border-radius: 111px;
  padding: 10px 20px;
  font-family: "Merriweather";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  cursor: pointer;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.b-header--btnStyle:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 2px 9px 50px rgba(0, 0, 0, 0.1), -2px 9px 60px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 9px 50px rgba(0, 0, 0, 0.1), -2px 9px 60px rgba(0, 0, 0, 0.1);
}

.fa-magnifying-glass {
  color: #FFFFFF;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  cursor: pointer;
  margin-left: 30px;
}

.fa-magnifying-glass:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 2px 9px 50px rgba(0, 0, 0, 0.1), -2px 9px 60px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 9px 50px rgba(0, 0, 0, 0.1), -2px 9px 60px rgba(0, 0, 0, 0.1);
}

.b-links {
  background-color: #660000;
  width: 100%;
  margin-top: 12px;
}

.b-links--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .b-links--flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.b-links--flexStyle {
  text-decoration: none;
  font-size: 26px;
  line-height: 30px;
  color: #FFFFFF;
  margin: 13px 34px;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

@media (max-width: 768px) {
  .b-links--flexStyle {
    text-align: center;
  }
}

.b-links--flexStyle:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 2px 9px 50px rgba(0, 0, 0, 0.1), -2px 9px 60px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 9px 50px rgba(0, 0, 0, 0.1), -2px 9px 60px rgba(0, 0, 0, 0.1);
}

.b-links--flexStyle:active {
  color: antiquewhite;
}

.b-news--preArticle {
  margin: 53px 49px;
  margin-bottom: 20px;
}

.b-news--preArticleStyle {
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
  text-decoration: none;
}

.b-news--article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 49px;
  margin-right: 49px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1156px) {
  .b-news--article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.b-news--articleImg {
  width: 40vw;
  margin-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1156px) {
  .b-news--articleImg {
    width: 100%;
  }
}

.b-news--articleImg img {
  width: inherit;
}

.b-news--articleText {
  margin-left: 10px;
}

@media (max-width: 1156px) {
  .b-news--articleText {
    width: 100%;
    margin-top: 24px;
  }
}

.b-news--articleTextMainStyle {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  text-align: justify;
}

.b-news--articleTextSecond {
  margin-top: 15px;
  position: relative;
}

.b-news--articleTextSecondStyle {
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  opacity: 0.8;
  text-align: justify;
}

.inWindow {
  text-decoration: underline;
  cursor: pointer;
}

.dontSeeIN,
.dontSeeK,
.dontSeeK2 {
  background-color: #660000;
  display: none;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  margin: 10px 10px;
  position: absolute;
  color: #FFFFFF;
  padding: 10px 15px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 1;
  z-index: 1;
}

.See {
  display: inline;
  -webkit-animation: showBlock .3s linear forwards;
          animation: showBlock .3s linear forwards;
}

@-webkit-keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.b-hr {
  color: #660000;
  margin: 10px 25px;
  margin-top: 25px;
  margin-bottom: -35px;
}

.b-footer {
  background-color: #660000;
  width: 100%;
  margin-top: 74px;
}

.b-footer--subscribe {
  font-size: 26px;
  line-height: 30px;
  color: #FFFFFF;
  margin: 13px 34px;
  text-align: center;
  padding: 25px 15px;
  padding-top: 45px;
}

.form--sub {
  font-size: 15px;
  font-family: "Merriweather";
  padding: 12px 30px;
  width: 350px;
  border: 1px solid #660000;
  border-radius: 5px;
}

.form--btn {
  font-size: 15px;
  padding: 8px 15px;
  font-family: "Merriweather";
  background-color: #660000;
  text-align: center;
  width: 65px;
  border: #660000;
  border-radius: 5px;
  cursor: pointer;
  margin-left: -75px;
}

.fa-angle-right {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
}

.b-formSub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

.address {
  margin: 49px 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.b-adress--read {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.b-adress--readMain {
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.b-adress--readSecond {
  font-size: 18px;
  color: #FFFFFF;
  text-decoration: none;
  margin-top: 7px;
}

.b-hr--fotter {
  margin-top: 45px;
  margin-left: 40px;
  margin-right: 40px;
  color: #FFFFFF;
}

.b-registration {
  color: #FFFFFF;
  font-size: 16px;
  margin-top: 45px;
  margin-right: 53px;
  margin-left: 53px;
  padding-bottom: 45px;
  opacity: 0.8;
}

.b-hrBig {
  margin-top: 45px;
  border: 10px solid #660000;
}

.obrSvyaz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px 53px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.b-obrSvyaz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.b-obrSvyazMain {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 10px;
}

.b-obrSvyazArtcl {
  font-size: 18px;
  color: black;
  opacity: 0.9;
  text-decoration: none;
  margin-top: 5px;
  padding-left: 8px;
}

.b-obrBtnStyle {
  font-size: 20px;
  line-height: 25px;
  text-align: right;
  color: #FFFDFD;
  background-color: #660000;
  border: 1px solid #660000;
  border-radius: 111px;
  padding: 10px 20px;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.b-obrBtnStyle:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 2px 9px 50px rgba(0, 0, 0, 0.1), -2px 9px 60px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 9px 50px rgba(0, 0, 0, 0.1), -2px 9px 60px rgba(0, 0, 0, 0.1);
}
/*# sourceMappingURL=style.css.map */